@tailwind base;
@tailwind components;
@tailwind utilities;

.common_btn {
  @apply px-5 py-2 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white hover:scale-105 ease-in-out duration-150  transform  outline-none rounded-sm;
}

.setting_pNav {
  @apply flex items-center justify-start  gap-4 cursor-pointer w-full px-8  py-2 hover:bg-black/40  ease-in-out duration-150 transform;
}

.account1 {
  @apply w-full md:w-[30%] text-center text-[0.8rem]  bg-black/40 rounded-t-md md:rounded-tr-none  md:rounded-l-md py-1 md:py-3;
}

.account2 {
  @apply w-full md:w-[70%] md:px-5 py-1 md:py-3 text-center md:text-left shadow-md rounded-b-md md:rounded-bl-none md:rounded-r-md bg-black/10 text-[0.8rem];
}

@layer base {
  body {
    @apply text-[0.9rem];
  }
  html {
    font-family: "Poppins", system-ui, sans-serif;
    @apply tracking-wider min-w-[350px] bg-gradient-to-br from-slate-100 from-20% via-purple-300 via-80% to-slate-300 to-100%;
  }
  h1 {
    @apply text-[2rem];
  }
  h2 {
    @apply text-[1.5rem];
  }
  h3 {
    @apply text-[1.2rem];
  }
  h4 {
    @apply text-[1.1rem];
  }
  h5 {
    @apply text-[1rem];
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757576c0;
}
